<header class="navbar-primary">
  <div class="wrapper">
    <div class="layout">
      <div class="layout__item layout--middle full-width">
        <ul class="horizontal-list horizontal-list--primary">
          <li class="horizontal-list__item">
             <a href="" ui-sref="main" class="navbar-primary__home-link"><h1>Ben Fraser Tech Test</h1></a>
          </li>
          <li class="horizontal-list__item" ui-sref-active="active">
          	 <a href="" ui-sref="read-me">READ ME</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>








