/*------------------------------------*\
    #PAGE
\*------------------------------------*/
/**
 * Page-level styling, e.g. `html` and `body` elements, main wrapper, etc.
 */

html {
	height: 100%;
	font-size: @base-spacing-unit;
}

body {
	font-size: @base-font-size;
	font-family: @font-family;
	.primary-font-color;
	.primary-background;
	position: relative;
	width:100%;
	min-height: 100%;
}

.wrapper-main {
	padding-top:5*@base-spacing-unit;
	padding-bottom:10*@base-spacing-unit;
	width:100%;
}

.wrapper {
	margin:0 auto;
	width: @page-width;
	position: relative;
	max-width: 92%;
}

.wrapper--content {
	margin-top:3*@base-spacing-unit;
}

.main-content {
	padding-top:8*@base-spacing-unit;
}

hr {
	height: 0;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	margin-top: 2*@base-spacing-unit;
	margin-bottom: 2*@base-spacing-unit;
	border: 0;
	border-top: 1px solid @red1;
}

.hr--less-margin {
	margin-top: 1*@base-spacing-unit;
	margin-bottom: 1*@base-spacing-unit;
}
