/*------------------------------------*\
    #TYPE
\*------------------------------------*/

/* Import Glyphicons as a font for icons */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

/* Base font size declared in settings/_brand-vars.less */
@font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

.font-thin {
	font-weight: 300;
}

.font-medium {
	font-weight: 500;
}

.font-normal {
  font-weight:400;
}

.underline {
  text-decoration: underline;
}

.secondary {
  .secondary-font-color;
}

h1,
h2,
h3 {
	margin-top: 2*@base-spacing-unit;
	.heading-font-color;
}

h4,
h5,
h6 {
	margin-top: @base-spacing-unit;
	.heading-font-color;
}

h1,
.h1 {
  font-size: 1.7*@base-font-size;
}

h2,
.h2 {
  font-size: 1.6*@base-font-size;
}

h3,
.h3 {
  font-size: 1.2*@base-font-size;
}

h4,
.h4 {
  font-size: 1*@base-font-size;
}

h5,
.h5 {
  font-size: 0.9*@base-font-size;
}

h6,
.h6 {
  font-size: 0.8*@base-font-size;
}

small,
.small {
	.secondary-font-color;
	font-size: 0.9*@base-font-size;
	font-style:italic;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small {
  font-weight: normal;
  line-height: 1;
}


/*------------------------------------*\
    #LINKS
\*------------------------------------*/
a { 
	.link-color;
	text-decoration: none; 
	cursor:pointer;
  .transition;
}

a:hover { 
	text-decoration: underline; 
}



