/*------------------------------------*\
    #SHARED
\*------------------------------------*/

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dl,
blockquote,p,address,
table,
fieldset,figure,
pre {
  margin-bottom: @base-spacing-unit;
}

li,dt,dd {
	margin-bottom: @base-spacing-unit/2;
}

/**
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once, here.
 */
ul,ol,dd {
    margin-left: 2 * @base-spacing-unit;
}

p {
	line-height:@base--line-height;
}
