/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.navbar-primary {
	.tertiary-background;
	color:white;
	position: fixed;
	top: 0;
	.full-width;
	z-index:2000;
	height:5*@base-spacing-unit;
	/* Ensure all layout items in header have consistent height */
	.layout__item {
		height: 5*@base-spacing-unit;
		padding: @base-spacing-unit 0 @base-spacing-unit @base-spacing-unit;
		line-height: 3*@base-spacing-unit;
		.layout__item {
			height: 3*@base-spacing-unit;
			padding: 0 0 0 @base-spacing-unit;
		}
	}
	/* Style all links in header */
	a,
	button {
		color:white;
	}
	/* Modify primary horizontal list (so menu sits flush with left margin) */
	.horizontal-list--primary {
		margin-top:-@base-spacing-unit;
		.horizontal-list__item:first-child {
			padding-left: 0;
		}
	}
	/* Styling for warnings  */
	.warning {
		color:@rag-red;
	}
}

.navbar-primary__home-link {
	width:100%;
	background-image:none;
	display:inline-block;
	line-height:3*@base-spacing-unit;
	height:3*@base-spacing-unit;
	color:white;
	position: relative;
	h1 {
		margin:0;
		font-size: 1.8em;
		font-weight:300;
		color:white;
	}
}

.navbar-primary__logo {
	display:inline-block;
	padding-right: @base-spacing-unit;
	vertical-align:top;
}

.navbar-primary__heading {
	margin:0;
	display: inline;
	.font-thin;
	letter-spacing: 1px;
}



