/*------------------------------------*\
    #BOXES	
\*------------------------------------*/

.box {
	padding:@base-spacing-unit;
	margin-bottom: 2*@base-spacing-unit;
	position: relative;
	h1:first-child {
		margin-top:0;
	}
}

.box--primary {
	.primary-border;
	.primary-background;
}

.box--secondary {
	.primary-border;
	.secondary-background;
}

.box--tertiary {
	.primary-border;
	background-color:lighten(@grey1, 3%);
}


/* Corners */
.box--soft {
	.border-radius;
}

/* Shadow */
.box--shadow {
	.box-shadow;
}

/* Top/bottom box (assumes it's a primary/soft box) */
.box--top {
	position: absolute;
	top:0;
	width:100%;
	.border-bottom;
	.border-radii(3px, 0, 0, 3px);
}

.box--bottom {
	position: absolute;
	bottom:0;
	width:100%;
	.border-top;
	.border-radii(0, 3px, 3px, 0);
	margin:0;
}



