/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
.btn,
.btn-default,
.ui-splitbutton button /* #remove */
{
  display: inline-block;
	.primary-font-color;
  min-width:100px;
  padding: .75*@base-spacing-unit @base-spacing-unit;
	text-align: center;
  .border-radius;
	background: lighten(@grey1, 2%);
  .primary-border;
  margin-right:@base-spacing-unit;
  .transition-button;
  position: relative;
  z-index:10;
  font-weight: normal;
  /* Hover */
	&:not(.btn-disabled):not(:disabled):not(.btn-link):hover, 
  &:not(.btn-disabled):not(:disabled):not(.btn-link).hover {
    text-decoration:none;
    .primary-background;
    cursor:pointer;
	}
  /* Active */
  &:not(.btn-disabled):not(:disabled):not(.btn-link):not(.ui-select-toggle):active, 
  &:not(.btn-disabled):not(:disabled):not(.btn-link):not(.ui-select-toggle).active {
    background: @grey2;
    .border(@grey3);
  }
  /* Focus */
  &:not(.btn-disabled):not(:disabled):not(.ui-select-toggle):focus, 
  &:not(.btn-disabled):not(:disabled):not(.ui-select-toggle).focus {
    outline:0;
    .border(@red2);
  }
  label {
    font-weight:normal;
    margin:0;
    display:inline;
    &:hover {
      cursor:pointer;
    }
  }
}


.btn-primary {
  background: @red1;
  .border(@red1);
  color:#FFF;
	&:not(.btn-disabled):not(:disabled):not(.btn-link):hover, 
  &:not(.btn-disabled):not(:disabled):not(.btn-link).hover {
		background: lighten(@red1, 10%);
	}
  /* Active */
  &:not(.btn-disabled):not(:disabled):not(.btn-link):active, 
  &:not(.btn-disabled):not(:disabled):not(.btn-link).active {
    color:@red2;
  }
  /* Focus */
  &:not(.btn-disabled):not(:disabled):focus, 
  &:not(.btn-disabled):not(:disabled).focus {
    outline:0;
    .border(@red2);
  }
}

.btn-disabled,
.btn:disabled {
  .opacity(0.4);
  &:hover,
  &.hover {
    text-decoration:none;
    cursor:default;
  }
}

/* Icons */
.btn-icon {
  span {
    padding-left: @ui-icon-size+@base-spacing-unit/2;
    position: relative;
  }
  span:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: @ui-icon-size;
    height: @ui-icon-size;
    .background-image;
    background-position: 0 0;
  }
}


/* Button group */
.btn-group {
  display: inline-block;
  margin-right:@base-spacing-unit;
}

.btn-group .btn {
  margin-right: 0;
  .border-radius(0);
  margin-left:-1px;  
}

.btn-group .btn:first-child {
  .border-radiuses (0, 0, 5px, 5px);
  margin-left:0; 
        
}
.btn-group .btn:last-child {
  .border-radiuses (5px, 5px, 0, 0);
}


/* Dropdown button */
.btn-dropdown {
  position: relative;
  a:hover {
    text-decoration:none;
  }
}

.btn-dropdown__link {
  position: relative;
  z-index:15;
  padding-right:@ui-icon-size + @base-spacing-unit/2;
  color:white;
  &:after {
    content: "";
    position: absolute;
    top: 6px;
    right: 2px;
    width: @ui-icon-size;
    height: @ui-icon-size;
    .background-image;
    background-position: -176px 0;
  }
  &:hover {
    cursor: pointer;
  }
}

.btn-dropdown__option {
  display:block;
  height:40px;
  position: relative;
  top:20px;
  z-index:9;
}





