/*------------------------------------*\
    #INPUTS, #LABELS and #FORMS
\*------------------------------------*/

input:not([type=submit]):not([type=file]):not([type=checkbox]):not([type=radio]) {
	.border(@grey3);
	.primary-background;
	padding:@base-spacing-unit/2;
	.box-shadow-inset;
	display:block;
	margin-bottom: @base-spacing-unit;
	width:100%;
	.border-radius (1px);
	height:3*@base-spacing-unit;
	/* Focus */
	&:focus {
		outline: 0;
		.border(@blue2);
	}
	/* Disabled class */
	&.disabled-input {
		.border(darken(@grey2,10%));
		color:transparent;
	}
}

input[type=checkbox],
input[type=radio] {
	margin-right:@base-spacing-unit/2;
	position: relative;
	top:-1px;
}

.file-upload {
	position:relative;
	input[type=file] {
		position: absolute;
		top: 0;
		left: 0;
		.outline;
		z-index:100;
		height:30px;
		width: 100px;
		.opacity(0);
		&:focus {
		  outline: 0;
		}
	}
	&:before {
	  content: 'Select a file';
	  display: inline-block;
	  .btn;
	}
	&:hover:before {
	  text-decoration: none;
	  .primary-background;
	  cursor: pointer;
	}
	&:active:before {
	  background: @grey2;
	  .border(@grey3);
	}
}

	

input:disabled,
select:disabled {
	.opacity(0.6);
}

select {
	outline: 0;
	.primary-font-color;
	background: lighten(@grey1, 2%);
  .border(@grey3);
  margin-right:@base-spacing-unit;
  .transition-button;
  font-weight: normal;
  font-size:0.9em;
  min-height:2*@base-spacing-unit;
  &:focus {
		outline:0;
		.border(@blue2);
	}
	&:hover {
		.primary-background;
	}
}

form,
.form {
	margin-top:2*@base-spacing-unit;
	ul {
		margin:0;
		padding:0;
	}
	label {
		font-weight: bold;
		display:block;
		margin-bottom: @base-spacing-unit/2;
	}
}

/* Generic input with button inside & generic search form */
.single-input-form,
.search-form {
	position: relative;
	input:not([type=submit]):not([type=file]):not([type=checkbox]):not([type=radio]) {
		padding-right:4*@base-spacing-unit;
		display:inline-block;
		height:3*@base-spacing-unit;
		margin:0;
	}
	input[type=submit],
	.btn {
		position: absolute;
		right:@base-spacing-unit/2;
		top:@base-spacing-unit/2;
		margin:0;
		padding:0 @base-spacing-unit/2;
		height:2*@base-spacing-unit;
	}
	select {
		width:auto;
		position: absolute;
		left:3.3*@base-spacing-unit;
		top:@base-spacing-unit/2;
		font-size: 0.8em;
		height:2*@base-spacing-unit;
	}
}

.search-form {
	/* This places the required icon on the left of the input - use /icon and .icon-* as appropriate (see objects/_icons.less) */
	input:not([type=submit]):not([type=file]):not([type=checkbox]):not([type=radio]) {
		padding-left:3.2*@base-spacing-unit;
	}
	&:before {
    position: absolute;
    top: 7px;
    left: @base-spacing-unit;
    .primary-font-color;
  }
}

/* Modifier for search form with an Amazon-style dropdown, as used in the ACP header search */
.search-form--dropdown {
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		.background-image;
		width:9*@base-spacing-unit;
		position: absolute;
		left:0;
		top:0;
		font-size: 0.9em;
		height:3*@base-spacing-unit;
		vertical-align: middle;
		margin:0;
		.border-radii(0, 0, 3px, 3px);
		background-position: right -170px;
		background-color: @grey1;
		padding:@base-spacing-unit/2 0 @base-spacing-unit/2 @base-spacing-unit/2;
		&:hover {
			.primary-background;
		}
	}
	&:before {
		left:9.5*@base-spacing-unit;
	}
	input:not([type=submit]):not([type=file]):not([type=checkbox]):not([type=radio]) {
		padding-left:11.7*@base-spacing-unit;
		.border-radii(0, 0, 3px, 3px);
	}
}

/**
* Classes to style form item elements - whether <li> or <p> 
*/
/* Standard form item (basically a label and input) */
.form__item {
	margin:0 0 1.5*@base-spacing-unit 0;
	padding:0;
	list-style-type: none;
	min-height:4.3*@base-spacing-unit;
	&:last-child {
		margin:0;
	}
}

/* Non-standard form item (for example a checkbox and inline label) */
.form__item--other {
	list-style-type: none;
}

.form__annotation {
	font-size: 0.9em;
	margin-bottom: @base-spacing-unit;
}

.form__description {
	font-size: 0.9em;
	margin-bottom: @base-spacing-unit/2;
	.secondary-font-color;
}

/* Errors/Messaging */
.form--error {
	.message(@error);
	.message--arrow(@error);
	font-size:0.9em;
	margin: -@base-spacing-unit/2 0 0 0;
	padding:@base-spacing-unit/2;
	text-align:left;
	.primary-font-color;
	.transition-slow;
	.form--error__element {
		display:inline-block;
		width:auto;
		min-width:160px;
		text-align: center;
		border:2px solid @error;
		padding:@base-spacing-unit/2;
		.border-radius;
	}
}

/* Slight modification for errors on forms with built-in dropdown */
.search-form--dropdown .form--error {
	margin: @base-spacing-unit/2 0 0 0;
	&:before {
		left:11*@base-spacing-unit;
	}
	&:after {
		left:11*@base-spacing-unit;
	}
}

/* Ensure animation only occurs only errors after dirty inputs to avoid the errors animating out on page/modal load */
.ng-dirty ~ .form--error {
  &.ng-hide-remove {
    .animation(slideInDownSmall);
  }
  &.ng-hide-add {
    .animation(slideOutUpSmall);
    display: block !important;
  }
}
