/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
/**
 * Our layout system (note, not grid system) can be used to lay out all manner
 * of things, from full page layouts to individual components.
 */


/**
 * 1. Allow the layout system to be used on lists.
 * 2. Remove any margins and paddings that might affect the layout system.
 * 3. Apply a negative `margin-left` to negate the columns’ gutters.
 */
.layout {
    list-style: none; /* [1] */
    margin: 0; /* [2] */
    padding: 0; /* [2] */
    margin-left: -@base-spacing-unit; /* [3] */
}


    /**
     * 1. Cause columns to stack side-by-side.
     * 2. Space columns apart.
     * 3. Align columns to the tops of each other.
     * 4. Full-width unless told to behave otherwise.
     */
    .layout__item {
        /*.outline;*/
        display: inline-block; /* [1] */
        padding-left: @base-spacing-unit; /* [2] */
        vertical-align: top; /* [3] */
        width: 100%; /* [4] */
        /* Make sure select/dropdowns take full width of their layout */
        select:not(.inline) {
            width:100%;
        }
    }



/**
 * Reversed layouts allow you to structure your source in the opposite order to
 * how your rendered layout will appear. Extends `.layout`.
 */
.layout--rev {
    direction: rtl;
    text-align: left;

    > .layout__item  {
        direction: ltr;
        text-align: left;
    }

}


/**
 * Gutterless layouts have all the properties of regular layouts, minus any
 * spacing. Extends `.layout`.
 */
.layout--gutterless {
    margin-left: 0;

    > .layout__item  {
        padding-left: 0;
    }

}

/**
 * Layouts with borders between them
 * Extends `.layout`.
 */
.layout--bordered {
    > .layout__item  {
        padding-right:@base-spacing-unit;
        border-right:1px solid @grey2;
    }

    > .layout__item:last-of-type {
        padding-right:0;
        border:none;
    }
}


/**
 * Align the entire layout to the right. Extends `.layout`.
 */
.layout--right {
    text-align: right;

    > .layout__item {
        text-align: left;
    }

}


/**
 * Centered layouts align layout items centrally without needing to use push or pull
 * classes. Extends `.layout`.
 */
.layout--center {
    text-align: center;

    > .layout__item {
        text-align: left;
    }

}


/**
 * Align layout cells vertically (`.layout--middle` or `.layout--bottom`). Extends
 * `.layout`.
 */
.layout--middle {
    
    > .layout__item {
        vertical-align: middle;
    }

}

.layout--bottom {

    > .layout__item {
        vertical-align: bottom;
    }

}


/**
 * Create layouts with narrower gutters. Extends `.layout`.
 */
.layout--small {
    margin-left: -(@base-spacing-unit/2);

    > .layout__item {
        padding-left: @base-spacing-unit/2;
    }

}


/**
 * Create layouts with wider gutters. Extends `.layout`.
 */
.layout--large {
    margin-left: -(2*@base-spacing-unit);

    > .layout__item {
        padding-left: 2*@base-spacing-unit;
    }

}

.layout--one-third {
    float:left;
    width:33%;
}

.layout--two-thirds {
    float:left;
    width:66%;
}


/*------------------------------------*\
    #WIDTHS
\*------------------------------------*/
/**
 * A series of human-readable widths that can be combined with, and applied to
 * a multitude of other components and objects. Used primarily with
 * `.layout__item`s.
 */

/**
 * Auto
 */
.auto               { width:auto; }

/**
 * Whole
 */
.full-width         { width:100%; }


/**
 * Halves
 */
.one-half          { width:50%; }


/**
 * Thirds
 */
.one-third         { width:33.333%; }
.two-thirds        { width:66.666%; }


/**
 * Quarters
 */
.one-quarter       { width:25%; }
.two-quarters      { .one-half; }
.three-quarters    { width:75%; }


/**
 * Fifths
 */
.one-fifth         { width:20%; }
.two-fifths        { width:40%; }
.three-fifths      { width:60%; }
.four-fifths       { width:80%; }


/**
 * Sixths
 */
.one-sixth         { width:16.666%; }
.two-sixths        { .one-third; }
.three-sixths      { .one-half; }
.four-sixths       { .two-thirds; }
.five-sixths       { width:83.333%; }


/**
 * Eighths
 */
.one-eighth        { width:12.5%; }
.two-eighths       { .one-quarter; }
.three-eighths     { width:37.5%; }
.four-eighths      { .one-half; }
.five-eighths      { width:62.5%; }
.six-eighths       { .three-quarters; }
.seven-eighths     { width:87.5%; }


/**
 * Tenths
 */
.one-tenth         { width:10%; }
.two-tenths        { .one-fifth; }
.three-tenths      { width:30%; }
.four-tenths       { .two-fifths; }
.five-tenths       { .one-half; }
.six-tenths        { .three-fifths; }
.seven-tenths      { width:70%; }
.eight-tenths      { .four-fifths; }
.nine-tenths       { width:90%; }


/**
 * Twelfths
 */
.one-twelfth       { width:8.333%; }
.two-twelfths      { .one-sixth; }
.three-twelfths    { .one-quarter; }
.four-twelfths     { .one-third; }
.five-twelfths     { width:41.666% }
.six-twelfths      { .one-half; }
.seven-twelfths    { width:58.333%; }
.eight-twelfths    { .two-thirds; }
.nine-twelfths     { .three-quarters; }
.ten-twelfths      { .five-sixths; }
.eleven-twelfths   { width:91.666%; }

/**
 * Fourteenth
 */
.one-fourteenth       { width:7.142%; }
.two-fourteenths      { width:14.284%; }
.three-fourteenths    { width:21.426%; }
.four-fourteenths     { width:28.568%; }
.five-fourteenths     { width:41.666% }
.six-fourteenths      { width:42.852%; }
.seven-fourteenths    { .one-half; }
.eight-fourteenths    { width:57.136%; }
.nine-fourteenths     { width:64.278%; }
.ten-fourteenths      { width:71.142%; }
.eleven-fourteenths   { width:78.562%; }
.twelve-fourteenths   { width:85.704%; }
.thirteen-fourteenths  { width:92.846%; }



/*------------------------------------*\
    #VERTICAL ALIGN
\*------------------------------------*/
.align {
    height:100%;
}

.align-middle {
    vertical-align: middle;
}

.align-top {
    vertical-align: top;
}

.align-bottom {
    vertical-align: bottom;
}

/**
 * Quick vertical align middle (which doesn't require display:inline-block).
 * See http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
 */
.vertical-align-middle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


/*------------------------------------*\
    FIXED LAYOUT
\*------------------------------------*/

/**
 * Allows a 2 column layout to have a left column that is position fixed
 */

.layout__fixed {
    /**
     * Quarters (extend with layout options as necessary)
     */
    .layout__item--fixed {
        position:fixed;
        &.one-quarter { 
            width:@page-width/4; 
        }
        &.two-quarters { 
            width:@page-width/2; 
        }
        &.three-quarters { 
            width:0.75*@page-width; 
        }
    }
    > .one-quarter:not(.layout__item--fixed) { 
        padding-left: 0.75*@page-width + @base-spacing-unit;
        width: 100%;
    }
    > .two-quarters:not(.layout__item--fixed) { 
        padding-left:@page-width/2 + @base-spacing-unit;
        width: 100%;
    }
    > .three-quarters:not(.layout__item--fixed) { 
        padding-left:@page-width/4 + @base-spacing-unit;
        width: 100%;
    }
    /**
     * Fifths
     */
    > .layout__item--fixed {
        position:fixed;
        &.one-fifth { 
            width:@page-width/5; 
        }
    }
    > .four-fifths:not(.layout__item--fixed) { 
        padding-left:@page-width/5 + @base-spacing-unit;
        width: 100%;
    }
    /**
     * Sixths
     */
    > .layout__item--fixed {
        position:fixed;
        &.one-sixth { 
            width:@page-width/6; 
        }
    }
    > .five-sixths:not(.layout__item--fixed) { 
        padding-left:@page-width/6 + @base-spacing-unit;
        width: 100%;
    }
}


/*------------------------------------*\
    # MAX WIDTHS
\*------------------------------------*/
/**
 * Whole
 */
.max-full-width         { max-width:@page-width; }


/**
 * Halves
 */
.max-one-half          { max-width:@page-width/2; }


/**
 * Thirds
 */
.max-one-third         { max-width:@page-width/3; }
.max-two-thirds        { max-width:.666*@page-width; }


/**
 * Quarters
 */
.max-one-quarter       { max-width:@page-width/4; }
.max-two-quarters      { .max-one-half; }
.max-three-quarters    { max-width:.75*@page-width; }


/**
 * Fifths
 */
.max-one-fifth         { max-width:@page-width/5; }
.max-two-fifths        { max-width:.4*@page-width; }
.max-three-fifths      { max-width:.6*@page-width; }
.max-four-fifths       { max-width:.8*@page-width; }

/**
 * Tenths
 */
.max-one-tenth         { max-width:@page-width/10; }
.max-two-tenths        { .max-one-fifth; }
.max-three-tenths      { max-width:.3*@page-width; }
.max-four-tenths       { .max-two-fifths; }
.max-five-tenths       { .max-one-half; }
.max-six-tenths        { .max-three-fifths; }
.max-seven-tenths      { max-width:.7*@page-width; }
.max-eight-tenths      { .max-four-fifths; }
.max-nine-tenths       { max-width:.9*@page-width; }




/*------------------------------------*\
    # MIN WIDTHS
\*------------------------------------*/
/**
 * Whole
 */
.min-full-width         { min-width:@page-width; }


/**
 * Halves
 */
.min-one-half          { min-width:@page-width/2; }


/**
 * Thirds
 */
.min-one-third         { min-width:@page-width/3; }
.min-two-thirds        { min-width:.666*@page-width; }


/**
 * Quarters
 */
.min-one-quarter       { min-width:@page-width/4; }
.min-two-quarters      { .min-one-half; }
.min-three-quarters    { min-width:.75*@page-width; }


/**
 * Fifths
 */
.min-one-fifth         { min-width:@page-width/5; }
.min-two-fifths        { min-width:.4*@page-width; }
.min-three-fifths      { min-width:.6*@page-width; }
.min-four-fifths       { min-width:.8*@page-width; }


/**
 * Tenths
 */
.min-one-tenth         { min-width:@page-width/10; }
.min-two-tenths        { .min-one-fifth; }
.min-three-tenths      { min-width:.3*@page-width; }
.min-four-tenths       { .min-two-fifths; }
.min-five-tenths       { .min-one-half; }
.min-six-tenths        { .min-three-fifths; }
.min-seven-tenths      { min-width:.7*@page-width; }
.min-eight-tenths      { .min-four-fifths; }
.min-nine-tenths       { min-width:.9*@page-width; }



