/*------------------------------------*\
    #LISTS and #MENUS
\*------------------------------------*/

/**
 * List with no style-type (apply to ul)
 */
.no-style-list {
	list-style-type: none;
	margin:0;
}

/**
 * List item with no style-type (apply to li)
 */
.no-style-list__item {
	list-style-type: none;
}

li>.small {
	margin-top:@base-spacing-unit/4;
}

/**
 * Horizontal list
 *
 */
 
.horizontal-list {
	margin:0;
	padding:0;
	display:inline-block;
}

.horizontal-list__item {
	list-style-type: none;
	margin:0 @base-spacing-unit 0 0;
	padding:0;
	display:block;
	float:left;
	&:last-child {
		margin-right:0;
	}
}

.horizontal-list--bordered {
	.horizontal-list__item {
		list-style-type: none;
		margin:0 @base-spacing-unit 0 0;
		padding:0 @base-spacing-unit 0 0;
		border-right:1px solid @grey2;
		&:last-child {
			margin-right:0;
			padding-right:0;
			border-right:0;
		}
	}
}

/**
 * Horizontal list: Primary
 *
 */
.horizontal-list--primary {
	height:5*@base-spacing-unit;
	.horizontal-list__item {
		padding:@base-spacing-unit 1.5*@base-spacing-unit;
		margin:0;
		height:5*@base-spacing-unit;
		border-right:1px solid (darken(@grey3, 20%));
		text-align: center;
		a {
			color: white;
			display: inline-block;
			font-weight: bold;
			height: 3*@base-spacing-unit;
			line-height: 3*@base-spacing-unit;
			.transition;
			&:hover {
				text-decoration: none;
				color: @grey3;
			}
		}
		&.active {
			.secondary-background;
			border: 0;
			a {
				.primary-font-color;
			}
			border-bottom: @base-spacing-unit/2 solid @red1;
		}
	}
}


/**
 * Vertical menu list
 *
 * Each list item displays in a box with an arrow - for example the Settings page in ACP.
 */

.vertical-menu-list {
	margin:@base-spacing-unit 0;
	padding:0;
}

.vertical-menu-list__item {
	list-style-type: none;
	display:block;
	position: relative;
	.box;
	.box--primary;
	padding:0;
	margin:0;
	padding-right:20px;
	&:not(:last-child) {
		border-bottom: 0;
	}
}

/* Within a container with no padding */
.no-padding .vertical-menu-list .vertical-menu-list__item {
	border-right:0;
	border-left:0;
	&:first-child {
		border-top:0;
	}
	&:last-child {
		border-bottom:0;
	}
}

/* Within a container with no padding and rounded corners */
.no-padding.soft .vertical-menu-list .vertical-menu-list__item ,
.no-padding.box--soft .vertical-menu-list .vertical-menu-list__item {
	&:first-child {
		.border-radii(5px,0,0,5px);
	}
	&:last-child {
		.border-radii(0,5px,5px,0);
	}
}


.vertical-menu-list__item__link {
	.primary-font-color;
	display:block;
	padding:@base-spacing-unit;
	padding-right:@ui-icon-size + @base-spacing-unit;
	.transition;
	&:hover,
	&.active {
		.link-color;
		text-decoration: none;
	}
	&:after {
		content:'';
		position: absolute;
		right:@base-spacing-unit;
		margin:auto 0;
		top:0;
		bottom:0;
		height:@ui-icon-size;
		width:@ui-icon-size;
		.background-image;
		background-position: -144px -16px;
	}
	&:hover:after,
	&.active:after {
		background-position: -160px -16px;
	}
}




