/*--------------------------------------------------*\
    #MESSSAGING, #ERRORS, #NOTIFICATIONS, #WARNINGS
\*--------------------------------------------------*/

/** 
 * For .message mixin, see setting/_mixins.less
 * For form errors, see objects/_messaging-errors.less
 */

.message {
  .message(@grey2);
  &--blue2 {
    .message(@blue2);
  }
}

.message--arrow {
  .message--arrow(@grey2);
  &.message--blue2 {
    .message--arrow(@blue2);
    &:before,
    &:after {
      left:0;
    }
  }
}

/* Loading message/animation (aka spinny gif), inspired from http://projects.lukehaas.me/css-loaders */
.loader {
  font-size: .2*@base-spacing-unit;
  margin: @base-spacing-unit/2 auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: @grey3;
  background: -moz-linear-gradient(left, @grey3 10%, rgba(153, 153, 153, 0) 42%);
  background: -webkit-linear-gradient(left, @grey3 10%, rgba(153, 153, 153, 0) 42%);
  background: -o-linear-gradient(left, @grey3 10%, rgba(153, 153, 153, 0) 42%);
  background: -ms-linear-gradient(left, @grey3 10%, rgba(153, 153, 153, 0) 42%);
  background: linear-gradient(to right, @grey3 10%, rgba(153, 153, 153, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
}
.loader:before {
  width: 50%;
  height: 50%;
  background: @grey3;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Confirmation / Notifications */
.notification {
  .box;
  .box--soft;
  background:@highlight;
  .border;
  text-align: center;
  .transition-slow;
  /* Animation */
  &.ng-hide-remove {
    .animation(slideInDownSmall); 
  }
  &.ng-hide-add {
    .animation(slideOutUpSmall); 
  }
}

/* Generic container and wrapper for all fixed position errors/notifications */
.container-error {
  position:fixed;
  top:5.2*@base-spacing-unit;
  right:.2*@base-spacing-unit;
  z-index:1999;
}

.wrapper-error {
  position: relative;
  .opacity(0.8);
  .primary-font-color;
  padding:2*@base-spacing-unit @base-spacing-unit;
  height:auto;
  .border;
  .border-radius(2px);
  min-width:@page-width/4;
  width:auto;
  max-width:@page-width/2;
  text-align: center;
  background:@highlight;
  margin-bottom:.2*@base-spacing-unit;
  .transition-slow;
  /* Animation */
  &.ng-hide-remove {
    .animation(slideInDownSmall);
  }
  &.ng-hide-add {
    .animation(slideOutUpSmall);
    display: block !important;
  }
}

/* IE unsupported browser error message */
.wrapper-error--ie {
  position:relative;
  margin:4*@base-spacing-unit auto;
}


/** 
 * Tooltips, displays the text in the title attribute
 * When making changes to tooltips, remember that utils.js contains
 * the showTooltip and hideTooltip functions for tooltips on input fields 
 * (these are currently not used in ACP)
 */

.tooltip {
  position: relative;
}

.tooltip__content {
  .box;
  .box--soft;
  .grey3;
  margin:0;
  padding:@base-spacing-unit/2;
  opacity: 0;
  font-size: 0.8em;
  text-align: center;
  pointer-events: none;
  position: absolute;
  color: white;
  white-space: nowrap;
  z-index: 2000;
  height:auto;
  left: 0;
  bottom: 2*@base-spacing-unit;
  line-height: 1.5;
}

.tooltip__arrow-wrapper {
	position: relative;
}

.tooltip__arrow {
  pointer-events: none;
  position: absolute;
  z-index: 50000;
  opacity: 0;
  width: 0;
  height: 0;
  border-bottom: @base-spacing-unit solid @grey3;
  border-left: @base-spacing-unit solid transparent;
  border-right: @base-spacing-unit solid transparent;
  left: @base-spacing-unit;
  bottom: 2*@base-spacing-unit;
  .transition;
}

.tooltip__arrow-top {
  border-bottom: none;
  border-top: @base-spacing-unit solid @grey3;
  border-left: @base-spacing-unit solid transparent;
  border-right: @base-spacing-unit solid transparent;
}

*[tooltip]:not([tooltip=""]).tooltip {
  position: relative;
  &:after {
    content: attr(tooltip);
    .transition;
    .tooltip__content;
  }

  &:before {
    content: "";
    .tooltip__arrow;
  }

  &:hover:after { bottom: -3.5*@base-spacing-unit; }
  &:hover:before { bottom: -@base-spacing-unit; }
  &:hover:after, &:hover:before { opacity: 1; }
}

/* Right tooltip  */
*[tooltip]:not([tooltip=""]).tooltip-right {
  &:after {
  	left:auto;
  	right: @base-spacing-unit;
  }
  &:before {
    left:auto;
    right: 2*@base-spacing-unit;
  }
}

/* Top tooltip */
*[tooltip]:not([tooltip=""]).tooltip-top {
  &:hover:after { 
    bottom: 2.5*@base-spacing-unit; 
  }
  &:before {
    .tooltip__arrow-top;
  }
  &:hover:before { 
    bottom: 1.5*@base-spacing-unit; 
  }
}


/* Reloading animations */
.loading {
  .animation(loading-anim 1.5s infinite);
}

@-webkit-keyframes loading-anim { 
  0%   { opacity: 0.4; }
  50%  { opacity: 0.2; }
  100% { opacity: 0.4; }
}

@-moz-keyframes loading-anim { 
  0%   { opacity: 0.4; }
  50%  { opacity: 0.2; }
  100% { opacity: 0.4; }
}

@-ms-keyframes loading-anim {
  0%   { opacity: 0.4; }
  50%  { opacity: 0.2; }
  100% { opacity: 0.4; }
}

@-o-keyframes loading-anim { 
  0%   { opacity: 0.4; }
  50%  { opacity: 0.2; }
  100% { opacity: 0.4; }
}

