/*------------------------------------*\
    #PANELS	
\*------------------------------------*/

.panel {
	margin-bottom:2*@base-spacing-unit;
	overflow:hidden;
}

.panel--no-margin {
	margin-bottom:0;
}

.panel--no-shadow {
	.box-shadow(@invisible) !important; /* This is to override any app-specific box shadows */
}

.panel--stacked {
	&:not(:first-child) .panel__header {
		.border-radius(0);
	}
	&:not(:last-child) {
		margin-bottom: 0;
	}
	> .panel,
	> .panel--collapsable {
		margin-bottom:0;
	}
}

.panel__header,
.panel__header--button {
	background: @grey2;
	padding:@base-spacing-unit 2*@base-spacing-unit;
	.border-radiuses(3px,0,0,3px);
	margin-bottom: 3px;
	min-height:4.1*@base-spacing-unit;
	/* Hide top border of panel table under panel header */
	position: relative;
	z-index:10;
	h1,h2,h3,h4,h5,h6 {
		display:inline;
	}
}


.panel__sub-header {
	background: lighten(@grey3,20%);
	padding: 1.5*@base-spacing-unit 2*@base-spacing-unit;
	h4 {
		display: inline;
	}
}

.panel__header--button {
	border-left: 0;
}

.panel__header__description {
	display:inline-block;
	margin-left:@base-spacing-unit;
	font-style: italic;
	.secondary-font-color;
}

.panel__header__actions {
	text-align:right;
	margin-top:-1.4em;
	.btn {
		margin:0 0 0 @base-spacing-unit;
	}
	.btn-small {
		min-width:70px;
	}
}

.panel__header__search-form {
	text-align:left;
	margin-bottom:@base-spacing-unit/2;
	margin-top:@base-spacing-unit;
	.btn-small {
		min-width:20px;
	}
	/* Animation */
  &.ng-hide-remove {
    .animation(slideInDownSmall); 
  }
  &.ng-hide-add {
    .animation(slideOutUpSmall); 
  }
	/** 
	 * Show the panel search form whilst it's animating 
	 * NB: !important is needed to override Angular's use of 'display:none !important' on the ng-hide class
	 * */
	&.checked-remove {
    display: block !important; 
    .transition-slow;
  } 
  .search-form--dropdown select {
  	.primary-background;
		&:hover {
			background-color: @grey1;
		}
  }
}

.panel__content {
	.primary-border;
	.primary-background;
	border-top: none;
	padding:.9*@base-spacing-unit 2*@base-spacing-unit .8*@base-spacing-unit 2*@base-spacing-unit;
	margin-top: -.3*@base-spacing-unit;
	p:last-child {
		margin:0;
	}
}

.panel__content--animate {
	.transition-slow;
  /* Animation */
  &.ng-hide-remove {
    .animation(slideInDownSmall); 
  }
  &.ng-hide-add {
    .animation(slideOutUpSmall); 
  }
}

.panel__content--table {
	border:0;
	/* Hide top border of table under panel header */
	position: relative;
	z-index:9;
	margin-top: -3px; 
}

.panel__footer {
	padding:@base-spacing-unit 2*@base-spacing-unit;
	.primary-border;
	.primary-background;
	border-top: 0;
}

/* Small(er) pannels */
.panel--small {
	margin-bottom: @base-spacing-unit/2;
	.panel__header,
	.panel__header--button {
		.box--tertiary;
		padding:@base-spacing-unit/2;
		.border-radiuses(0);
		.panel--no-shadow;
		min-height:3.1*@base-spacing-unit;
		h1,h2,h3,h4,h5,h6 {
			display:inline;
			font-size:1em;
			line-height: 1;
			font-weight:normal;
		}
		label {
			margin:0;
		}
	}
	.panel__header--button {
		border-left: 0;
	}
	.panel--collapsable {
		margin:0;
	}
}

/* Collapsable panels */
.panel--collapsable {
	margin-bottom:10px;
	label:not(.light-switch):not(.inline):not(.no-margin) {
		display:block;
		height:100%;
	}
	.panel__header:after {
		content:'';
		position: absolute;
		right:2*@base-spacing-unit;
		margin:auto 0;
		top:0;
		bottom:0;
		height:@ui-icon-size;
		width:@ui-icon-size;
		.background-image;
		background-position: -176px -48px;
	}
	.panel__header:hover:after {
		background-position: -176px -32px;
	}
	&.open .panel__header:after {
		background-position: -160px -48px;
	}
	&.open .panel__header:hover:after {
		background-position: -160px -32px;
	}
	&.closed .panel__header:after {
		background-position: -176px -48px;
	}
	&.closed .panel__header:hover:after {
		background-position: -176px -32px;
	}
	/* Animation */
	.panel__content {
	  &.ng-hide-remove {
	    .animation(slideInDown); 
	  }
	  &.ng-hide-add {
	    .animation(slideOutUp); 
	  }
	}	
	/** 
	 * Show the panel content form whilst it's animating 
	 * NB: !important is needed to override Angular's use of 'display:none !important' on the ng-hide class
	 * */
	&.closed .panel__content.ng-hide-add {
    display: block !important;  
  }
}
