/*------------------------------------*\
    #TABLES, #PAGINATION and #SORTING
\*------------------------------------*/
.table {
	border-collapse: collapse;
	.full-width;
	margin:0;
	.primary-background;
	.primary-border;
	font-size:1em;
	tr {
		height:3.2*@base-spacing-unit;
	}
	td, th {
		padding:@base-spacing-unit/2 2*@base-spacing-unit;
		.primary-border;
		text-align: left;
		white-space: nowrap;
		> label {
			margin:0;
		}
	}
	thead {
		.secondary-font-color;
		th {
			background-color:lighten(@grey1, 2%);
			.primary-border;
		}
		&.panel__header {
			th {
				.panel__header;
				padding: .5*@base-spacing-unit 2*@base-spacing-unit;
				border: none;
				.border-radius(0);
			}
		}
	}
	tbody tr:nth-child(even):not(.odd):not(.header-row),
	tbody tr.even {
		background-color:lighten(@grey1, 3%);
	}
	/* IDENTIFY A MAIN/WIDE COLUMN - other cells are set to nowrap so will display at minimum necessary size */
	.main-column {
		width:70%;
		white-space: normal;
		-ms-word-break: break-all;
   	word-break: break-all;	
   }
   /* Modifier for a main column to right of a checkbox column - a common pattern in our products */
	.main-column--checkbox { 
		border-left: none;
   	padding-left: 0;
	}
	/* Checkbox column - style to remove border on right */
	.checkbox-column {
		border-right: none;
		padding-right:@base-spacing-unit;
		width:@base-spacing-unit;
	}
	/* Make a column word-breakable (ie, wrap text mid-word) */
	.word-break {
		white-space: normal;
		-ms-word-break: break-all;
		word-break: break-all;
	}
	/* Make a column full-width (this class already exists in objects/_layout.less, but this is overwritten unless it is table-specific) */
	.full-width {
		width:100%;
	}
	/* Table header row */
	tbody tr.header-row {
		background: @grey2;
		td {
			font-weight: bold;
		}
	}
	/* HIGHLIGHTS */
	.highlight-row:hover {
		background: @highlight;
	}
	.highlight-cell:hover {
		background: @highlight;
	}
	/* RAG background colors (used for permissions on ACP, etc) */
	.rag--red {
		color:white;
		background-color:@rag-red; 
	}
	.rag--amber {
		color:white;
		background-color:@rag-amber; 
	}
	.rag--green {
		color:white;
		background-color:@rag-green; 
	}
}

/* Hide page size controls for table directive - will need implementing in the directive eventually? */
.btn-group.pull-right.ng-scope {
   display: none;
}

/* Table with less padding */
.table.tight td,
.table.tight th,
tr.tight td,
tr.tight th,
th.tight,
td.tight {
	padding:@base-spacing-unit/2 @base-spacing-unit;
	font-size:0.9em;
	.btn {
		font-size: 1em;
	}
}

.table.tight tr,
.table tr.tight {
	height: 2*@base-spacing-unit;
}

.table.tight .main-column--checkbox { 
 	padding-left: 0;
}


/* Table with no border around the outer edge */
.table--no-border {
	border:0;
	th {
		border-top: 0;
	}
	th:first-child,
	th:last-child,
	td:first-child,
	td:last-child {
		border-left: 0;
		border-right:0;
	}
}


/**
 * 
 * PAGINATION (style is modified from Bootstrap) 
 *
 */

.pagination {
  display:block;
	padding:0;
	margin:-1px 0 0 0;
	width:100%;
	height: 3.2*@base-spacing-unit;
	text-align: center;
	.primary-background;
	.primary-border;
}

.pagination > li {
  display: inline-block;
  margin:-1px 0 0 0;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding:0 @base-spacing-unit;
  margin-left: -1px;
  line-height: 28px;
  text-decoration: none;
  .primary-background;
  .primary-border;
  border-bottom: 0;
  height: 3.1*@base-spacing-unit;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  .secondary-background;
  border-bottom: 0;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  .primary-font-color;
  cursor: default;
  background-color: @grey2;
  border-color: @grey2;
  border-bottom: 0;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  .secondary-font-color;
  .secondary-background;
  cursor: default;
  .primary-border;
  .opacity(0.8);
  border-bottom: 0;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding:@base-spacing-unit 1.5*@base-spacing-unit;
  font-size: 1.3em;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding:@base-spacing-unit/2 @base-spacing-unit;
  font-size: 0.9em;
}

/* 
 * 
 * SORTING
 *
 */
th.sortable {
	position:relative;
	&:after {
		content: "";
		position: absolute;
		right: @base-spacing-unit;
    width: @base-spacing-unit;
    height: @ui-icon-size;
    .background-image;
    background-position: -195px 0;
    .opacity(0.6);
  }
	&:hover {
		cursor: pointer;
		&:after {
			.opacity(1);
		}
	}
	&.sort-asc:after {
		background-position: -211px 0;
		.opacity(1);
	}
	&.sort-desc:after {
		background-position: -227px 0;
		.opacity(1);
	}
}

.table th.sortable {
	padding-right: 3*@base-spacing-unit;
}




