/*------------------------------------*\
    #VARS
\*------------------------------------*/
/**
 * Important variables.
 */
@base-font-size:				1rem;
@base--line-height:     1.25*@base-font-size;
@base-spacing-unit:    	16px;
@page-width:						960px;
@min-page-width:				1180px;
@ui-icon-size:					16px;



/*------------------------------------*\
    #COLOR
\*------------------------------------*/

/* Color swatches */
@grey1:						#f2f2f2;	/* Light grey 5% */
@grey2:						#e4e4e4; 	/* Light grey 89% */
@grey3:						#999;			/* Medium grey 60% */
@grey4:						#444;			/* Dark grey 75% */

@blue1:						#7adbed;	/* Light */
@blue2:						#29abe1;	/* Dark (was #00b0d9) */
@blue3:						#3a424c;  /* Dark bluey grey */
@blue4:						#419fb5; 	/* Turquoise */

@green1:					#3fd181;	/* Light */
@green2:					#3ab373;	/* dark */
@green3:					#0d5426; 	/* darker */

@red1:						#C00;			/* Light */
@red2:						#bc3d40;	/* Dark */
@red3: 						#5d0d0f;	/* darker */
@error:						#cd0004;	/* bright */

@purple1:					#8092c4;	/* Light */
@purple2:					#404e7d;	/* Dark */

@pink1:						#e6769f;	/* Light */
@pink2:						#aa3d5e;	/* Dark */
@yellow:					#ffd441;
@orange:					#ffb17d;

@invisible: 			rgba(255,255,255,0);
@highlight:				#fdffc8;	/* Pasty yellow */




/* Classes based on color swatches */
.primary-background 		{ background-color: white; }
.secondary-background 	{ background-color: @grey1; }
.tertiary-background	 	{ background-color: rgba(0,0,0,.8); }

.primary-font-color 		{ color: @grey4; }
.secondary-font-color		{ color: @grey3; }
.heading-font-color			{ color: @grey4; } 

.link-color							{ color: @red1; }

.grey1									{ background-color: @grey1; }
.grey2									{ background-color: @grey2; }
.grey3									{ background-color: @grey3; }
.grey4									{ background-color: @grey4; }

.blue1									{ background-color: @blue1; }
.blue2									{ background-color: @blue2; }
.blue3									{ background-color: @blue3; }
.blue4									{ background-color: @blue4; }

.green1									{ background-color: @green1; }
.green2									{ background-color: @green2; }
.green3									{ background-color: @green3; }

.red1										{ background-color: @red1; }
.red2										{ background-color: @red2; }
.red3										{ background-color: @red3; }
.error-red							{ background-color: @error; }

.purple1								{ background-color: @purple1; }
.purple2								{ background-color: @purple2; }

.pink1									{ background-color: @pink1; }
.pink2									{ background-color: @pink2; }
.yellow									{ background-color: @yellow; }
.orange									{ background-color: @orange; }

.invisible							{ background-color: @invisible; }
.highlight							{ background-color: @highlight; }



/* Borders */
.primary-border 				{ border: 1px solid @grey2; }
.secondary-border 			{ border: 1px solid @grey1; }
.border(@color: @grey2)	{	border: 1px solid @color; }

/* Useful to highlight elemnts whilst developing */
.outline				 				{ outline:1px dotted red; }



/* RAG */
@rag-red:								@red1;
@rag-amber:							#ff9900;
@rag-green:							#629b57;


/**
 * Background image / sprite
 * Any element using a background image can call this class.
 * This way we can easilly control the location / type of the background image sprite
 */
.background-image {
	background-image:url(../images/wandisco-sprite.png); /* Angular (fallback for old browsers) */
	background-image:url(../images/wandisco-sprite.svg), none; /* Angular (svg) */
	background-repeat:no-repeat;
}





