/*------------------------------------*\
    #MIXINS
\*------------------------------------*/
/**
 * Parametric mixins we can use to make our lives easier.
 */
.border-radius (@radius: 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

/* For multiple rounded corners, there's a mixin for both border raiduses (syc) and border radii (the latter references the former) */
.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius:    @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius:  @bottomleft;
  -webkit-border-top-left-radius:     @topleft;

  -moz-border-radius-topright:        @topright;
  -moz-border-radius-bottomright:     @bottomright;
  -moz-border-radius-bottomleft:      @bottomleft;
  -moz-border-radius-topleft:         @topleft;

  border-top-right-radius:            @topright;
  border-bottom-right-radius:         @bottomright;
  border-bottom-left-radius:          @bottomleft;
  border-top-left-radius:             @topleft;

  -moz-background-clip:    padding; 
  -webkit-background-clip: padding-box; 
  background-clip:         padding-box; 
}

.border-radii(@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  .border-radiuses(@topright, @bottomright, @bottomleft, @topleft);
}

.gradient (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}

.horizontal-gradient (@startColor: #eee, @endColor: white) {
  background: @startColor;
  background: -webkit-linear-gradient(left, @startColor , @endColor); 
  background: -o-linear-gradient(right, @startColor, @endColor); 
  background: -moz-linear-gradient(right, @startColor, @endColor); 
  background: linear-gradient(to right, @startColor , @endColor); 
}

.box-shadow (@color: @grey3) {
	-webkit-box-shadow: 0 2px @color;
	-moz-box-shadow:    0 2px @color;
	box-shadow:         0 2px @color;
}

.box-shadow-inset  (@color: @grey2) {
  -webkit-box-shadow: inset 0 1px 2px @color;
  -moz-box-shadow:    inset 0 1px 2px @color;
  box-shadow:         inset 0 1px 2px @color;
}

.box-shadow-any (@string) {
  -webkit-box-shadow: @string;
  -moz-box-shadow:    @string;
  box-shadow:         @string;
}

.opacity (@string) {
  opacity: @string;
  -moz-opacity:@string;
  -khtml-opacity: @string;
  @stringPerc: @string * 100; /* Multiply string by 100 to get opacity as percentage for IE support */
  filter: alpha(opacity=@stringPerc);
}

/* Transitions */
.transition (@string: all .2s ease) {
  -webkit-transition: @string;
  -moz-transition: @string;
  -ms-transition: @string;
  -o-transition: @string;
  transition: @string;
}

/* Transition for button states, etc */
.transition-button {
  -webkit-transition: background .2s ease, border .2s ease, opacity .2s ease, border .2s ease;
  -moz-transition: background .2s ease, border .2s ease, opacity .2s ease, border .2s ease;
  -ms-transition: background .2s ease, border .2s ease, opacity .2s ease, border .2s ease;
  -o-transition: background .2s ease, border .2s ease, opacity .2s ease, border .2s ease;
  transition: background .2s ease, border .2s ease, opacity .2s ease, border .2s ease;
}

/* Transition for animation-type transitions */
.transition-slow (@string: all .5s ease) {
  -webkit-transition: @string;
  -moz-transition: @string;
  -ms-transition: @string;
  -o-transition: @string;
  transition: @string;
}

/* See objects/_animate.less for animation options */
.animation (@string) {
  -webkit-animation: @string .5s;
  -moz-animation: @string .5s;
  -ms-animation: @string .5s;
  -o-animation: @string .5s;
  animation: @string .5s;
}

/* Icon style (see objects/_icons.less) */
.icon-style {
  font-size: @ui-icon-size;
  display: inline-block;
  vertical-align: middle;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  padding-right:@base-spacing-unit/2;
  speak: none; /* Avoids screen readers from reading. Not to be trusted, but hey. */
  position: relative;
  top:-1px;
}


/**
* Messaging/errors 
*/
.message(@type: @grey2) {
  .primary-background;
  .box--soft;
  margin: @base-spacing-unit/2 0 0 0;
  font-size: 0.8em;
  padding:@base-spacing-unit/2;
  .box-shadow(@type);
  .border(@type);
  position:relative;
  z-index:11;
  text-align:center;
  /* Animated message */
  &--animated {
    .transition-slow;
    &.ng-hide-remove {
      .animation(slideInDownSmall);
    }
    &.ng-hide-add {
      .animation(slideOutUpSmall);
      display: block !important;
    }
  }
  /* Left aligned messages */
  &--left-align {
    display:block;
    font-size: 0.9em;
    margin-bottom: @base-spacing-unit;
    margin-top: 0;
    padding-left: @base-spacing-unit;
    position: relative;
    text-align: left;
  }
}

/* Message with arrow (to the left by default, modifiers available for placing arrow to right or in middle) */
.message--arrow(@type: @grey2) {
  &:before {
    content:'';
    width:0;
    height:0;
    position: absolute;
    top:-@base-spacing-unit;
    left:2*@base-spacing-unit;
    border-bottom: @base-spacing-unit solid @type;
    border-left: @base-spacing-unit solid transparent;
    border-right: @base-spacing-unit solid transparent;
  }
  &:after {
    content:'';
    width:0;
    height:0;
    position: absolute;
    top:-.9*@base-spacing-unit;
    left:2*@base-spacing-unit;
    border-bottom: @base-spacing-unit solid white;
    border-left: @base-spacing-unit solid transparent;
    border-right: @base-spacing-unit solid transparent;
  }
  &--middle {
    &:before,
    &:after {
      left:0;
      right:0;
      margin-left:auto;
      margin-right:auto;
    }
  }
  &--right {
    &:before,
    &:after {
      left:auto;
      right:2*@base-spacing-unit;
    }
  }
}

/**
* Other 
*/
.transform(@string){
  -webkit-transform: @string;
  -moz-transform:    @string;
  -ms-transform:     @string;
  -o-transform:      @string;
}

.scale (@factor) {
  -webkit-transform: scale(@factor);
  -moz-transform:    scale(@factor);
  -ms-transform:     scale(@factor);
  -o-transform:      scale(@factor);
}

.rotate (@deg) {
  -webkit-transform: rotate(@deg);
  -moz-transform:    rotate(@deg);
  -ms-transform:     rotate(@deg);
  -o-transform:      rotate(@deg);
}

.skew (@deg, @deg2) {
  -webkit-transform:       skew(@deg, @deg2);
  -moz-transform:    skew(@deg, @deg2);
  -ms-transform:     skew(@deg, @deg2);
  -o-transform:      skew(@deg, @deg2);
}

.translate (@x, @y:0) {
  -webkit-transform:       translate(@x, @y);
  -moz-transform:    translate(@x, @y);
  -ms-transform:     translate(@x, @y);
  -o-transform:      translate(@x, @y);
}

.translate3d (@x, @y: 0, @z: 0) {
  -webkit-transform:       translate3d(@x, @y, @z);
  -moz-transform:    translate3d(@x, @y, @z);
  -ms-transform:     translate3d(@x, @y, @z);
  -o-transform:      translate3d(@x, @y, @z);
}

.perspective (@value: 1000) {
  -webkit-perspective:  @value;
  -moz-perspective:   @value;
  -ms-perspective:  @value;
  perspective:    @value;
}

.transform-origin (@x:center, @y:center) {
  -webkit-transform-origin: @x @y;
  -moz-transform-origin:    @x @y;
  -ms-transform-origin:     @x @y;
  -o-transform-origin:      @x @y;
}




