/*------------------------------------*\
    #HELPERS
\*------------------------------------*/
/**
 * A selection of abstracted helper classes. Only use these if there is not
 * already a class on the element you wish to target, 
 * or to avoid unnecessarily specific styling rules.
 */


/** 
 * Full-width already exists in objects/_layout.less 
 */
.full-height {
	height:100%;
}


/**
 * Element display type.
 */
.inline {
	display: inline !important;
}

.block {
	display: block !important;
}

.inline-block {
	display: inline-block !important;
}

.none {
	display: none;
}



/**
 * Float rules. There is no `.float` class.
 */
.float-none    { float: none !important; }
.float-right   { float: right !important; }
.float-left    { float: left !important; }


/**
 * Margins.
 */
.margin-top 					{ margin-top: @base-spacing-unit !important; }
.margin-top-small 		{ margin-top: @base-spacing-unit/2 !important; }
.margin-right 				{ margin-right: @base-spacing-unit !important; }
.margin-right-small 	{ margin-right: @base-spacing-unit/2 !important; }
.margin-bottom 				{ margin-bottom: @base-spacing-unit !important; }
.margin-bottom-small 	{ margin-bottom: @base-spacing-unit/2 !important; }
.margin-left					{ margin-left: @base-spacing-unit !important; }
.margin-left-small		{ margin-left: @base-spacing-unit/2 !important; }
.no-margin						{ margin: 0 !important; }


/**
 * Paddings.
 */
.padding-top 					{ padding-top: @base-spacing-unit !important; }
.padding-top-small 		{ padding-top: @base-spacing-unit/2 !important; }
.padding-right 				{ padding-right: @base-spacing-unit !important; }
.padding-right-small 	{ padding-right: @base-spacing-unit/2 !important; }
.padding-bottom 			{ padding-bottom: @base-spacing-unit !important; }
.padding-bottom-small { padding-bottom: @base-spacing-unit/2 !important; }
.padding-left					{ padding-left: @base-spacing-unit !important; }
.padding-left-small		{ padding-left: @base-spacing-unit/2 !important; }
.no-padding						{ padding: 0 !important; }


/**
 * Borders.
 */
.border-top 		{ 
	border:0 !important;
	border-top: 1px solid @grey2 !important; 
}

.border-right 	{ 
	border:0 !important;
	border-right: 1px solid @grey2 !important; 
}

.border-bottom 	{ 
	border:0 !important;
	border-bottom: 1px solid @grey2 !important; 
}

.border-left		{ 
	border:0 !important;
	border-left: 1px solid @grey2 !important; 
}

.no-border			{ 
	border: 0 !important; 
}


/**
 * Round corners.
 */
.soft {
  .border-radius;
}

/**
 * Text align.
 */
.align-left {
  text-align: left !important;
}

.align-right {
  text-align: right !important;
}

.align-center {
  text-align: center !important;
}

/*
 * Text-indent (to replace text with a background image. See http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/)
 */
.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

/**
 * Disabled
 */
.disabled {
  .opacity(0.4);
}

/* 
 * Extend flag image/profile card with RAG colors 
 */
.confirm {
	.flag__image {
		background-color:@rag-green;
		background-position: -60px -64px;
	}
	.box--shadow,
	.panel__header,
	&.profile-card {
		.box-shadow (@rag-green);
	}
	.profile-card__image__content {
		display:none; 
	}
}

.pending {
	.flag__image {
		background-color:@rag-amber;
		background-position: -120px -64px;
	}
	.box--shadow,
	.panel__header,
	&.profile-card {
		.box-shadow (@rag-amber);
	}
	.profile-card__image__content {
		display:none; 
	}
}

.deny {
	.flag__image {
		background-color:@rag-red;
		background-position: -180px -64px;
	}
	.box--shadow,
	.panel__header,
	&.profile-card {
		.box-shadow (@rag-red);
	}
	.profile-card__image__content {
		display:none; 
	}
}

