/*------------------------------------*\
    #RESPONSIVE LAYOUT
\*------------------------------------*/

@media screen and (max-width: 768px) {
	/* Layout items become full-width */
	.layout__item:not(.auto) { 
	    width:100% !important; 
	    padding-left: @base-spacing-unit !important;
	}

	.wrapper-main .horizontal-list__item {
		display: block;
		float: none;
	}

	.main-heading {
		display: block !important;
	}

	.close-link {
		float: none !important;
		display: block;
	}
} 

@media screen and (max-width: 500px) {
	.navbar-primary {
		.horizontal-list--primary .horizontal-list__item {
			padding: .75*@base-spacing-unit;
		}

		.horizontal-list__item a {
			font-size: .8rem;
		}

		.navbar-primary__home-link h1 {
			font-size: 1.2rem;
		}
	}

	.btn-group {
		width: 100%;
		.btn {
			padding: .5*@base-spacing-unit;
			font-size: .8rem;
		}
		.btn:first-child {
			border-top-right-radius: 5px;
	    border-bottom-right-radius: 0;
	    border-bottom-left-radius: 0;
	    border-top-left-radius: 5px;
		}
		.btn:last-child {
			border-top-right-radius: 0;
	    border-bottom-right-radius: 5px;
	    border-bottom-left-radius: 5px;
	    border-top-left-radius: 0;
		}
	}

	.btn {
		width: 100%;
	}
} 


