<section ng-controller="arrayFlattener">

	<h1>Array flattener</h1>

	<p>See console</p>

</section>

<hr>

<section ng-controller="morseCode">

	<h1>Morse code with further obfuscation</h1>

	<div class="btn-group">
		<a href="" class="btn"
				ng-click="type = 'txt'; reset()"
				ng-class="type === 'txt'? 'btn-primary' : ''">Input via text file
		</a><!--
		--><a href="" class="btn"
				ng-click="type = 'input'; reset()"
				ng-class="type === 'input'? 'btn-primary' : ''">Input via web form input
		</a>
	</div>

	<!-- Input via .txt file -->
	<form name="morseCodeObfuscationForm" novalidate
				ng-submit="convertAndObfuscate(filePath, 'txt')"
				ng-if="type === 'txt'">
		<div class="layout">
			<div class="layout__item one-half">
				<div class="form__item">
					<label for="sentence">Path of file to obfuscate</label>
					<input type="text" 
						name="filePath" 
						id="filePath" 
						placeholder="eg. text.txt"
						ng-model="filePath"
						ng-change="morseCode = ''; obfuscatedSentence = ''"
						required>

					<p class="form--error" ng-show="morseCodeObfuscationForm.sentence.$error.required">Please provide the path of the file you want to obfuscate</p>
				</div>
				
				<input type="submit" 
					value="Obfuscate this file"
					class="btn btn-primary"
					ng-disabled="morseCodeObfuscationForm.$invalid">
			</div>
		</div>
	</form>

	<!-- Input via web form input file -->
	<form name="morseCodeObfuscationForm" novalidate
				ng-submit="convertAndObfuscate(sentence, 'input')"
				ng-if="type === 'input'">
		<div class="layout">
			<div class="layout__item one-half">
				<div class="form__item">
					<label for="sentence">Sentence to obfuscate</label>
					<input type="text" 
						name="sentence" 
						id="sentence" 
						placeholder="eg. I AM IN TROUBLE"
						ng-model="sentence"
						ng-pattern="/^[a-zA-Z\s]*$/"
						ng-change="reset()"
						required>

					<p class="form--error" ng-show="morseCodeObfuscationForm.sentence.$error.required">Please provide a sentence to obfuscate</p>
					<p class="form--error" ng-show="morseCodeObfuscationForm.sentence.$error.pattern">Please only use letters and spaces</p>
				</div>
				
				<input type="submit" 
					value="Obfuscate this sentence"
					class="btn btn-primary"
					ng-disabled="morseCodeObfuscationForm.$invalid">
			</div>
		</div>
	</form>

  <h3 ng-show="morseCode"><span class="font-thin">Your morse code is:</span> {{ morseCode }}</h3>

  <h3 ng-show="obfuscatedSentence"><span class="font-thin">Your obfuscated sentence is:</span> {{ obfuscatedSentence }}</h3>

  <!-- TODO: provide download as text button -->

</section>

<hr>






