<section>

	<h1 class="inline main-heading">Ben Fraser Tech test for Resource Guru <span class="font-thin secondary">|</span> <span class="font-thin">Nov 2017</span></h1>

	<a href="" ui-sref="main" class="icon icon-remove float-right padding-top close-link">Close</a>

	<hr>

	<ul class="horizontal-list">
		<li class="horizontal-list__item"><a href="https://bitbucket.org/benfraserdesign/bf-tech-test" target="_blank" class="btn btn-primary">View Bitbucket repo</a></li>
		<li class="horizontal-list__item padding-top"><a href="mailto:boinfraser@gmail.com">boinfraser@gmail.com</a></li>
		<li class="horizontal-list__item padding-top"><a href="tel:07903664586">07903664586</a></li>
		<li class="horizontal-list__item padding-top"><a href="http://benfraserdesign.co.uk" target="_blank">benfraserdesign.co.uk</a></li>
	</ul>

	<hr>

	<p>Thanks for checking out my tech test for Resource Guru.</p>

	<p>The array flattening algorithm code is in app/scripts/controllers/arrayFlattener.ctrl.js. There is no input, but the code runs with the example provided and outputs the result in the console.</p>

	<p>The morse code exercise is in app/scripts/controllers/morseCode.ctrl.js and runs in the browser. I have provided the option to provide an input via a .txt file or via a web form.</p>

	<p>This is an AngularJS application single page app. Styles are compiled in Less. Bower is used to manage dependencies. Grunt is used for task automation. Tests are run using Karma and Jasmine.</p>

<hr>

</section>






